* {
	box-sizing: border-box;
}

body {
	padding: 20px;
}

#fixed{
	position: fixed;
	background-color: #eee;
	top:0;
	left:0;
	padding: 40px;
	

}

#relative{
	background-color: #eee;
	padding: 20px;
	position: relative;
	height: 200px;


}

#absolute{
	background-color: #999;
	padding: 30px;
	width: 250px;
	position: absolute;
	right:-30px;
	bottom: 0;

}

.wrapper {
	width: 600px;
	margin:0 auto;
	padding: 20px;
}